<ion-header translucent="true"></ion-header>

<ion-content class="auth-content ion-padding">
  <div class="top-bar">
    <!-- Left: Page icon (Log In or Sign Up) -->
    <ion-icon 
      class="page-icon"
      [name]="isLogin ? 'person-circle-outline' : 'person-add-outline'">
    </ion-icon>
  
    <!-- Right: Toggle button -->
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="toggleForm()">
        {{ isLogin ? 'Sign Up' : 'Log In' }}
      </ion-button>
    </ion-buttons>
  </div>
  

  <br><br><br>

  <!-- Login Form -->
  <form *ngIf="isLogin" class="login-form" (ngSubmit)="login()" #loginForm="ngForm">
    <ion-input 
      label="Email" 
      labelPlacement="floating" 
      fill="outline"
      type="email"
      [(ngModel)]="email"
      name="email"
      required>
      <ion-icon slot="start" name="mail-outline"></ion-icon>
    </ion-input>

    <ion-item lines="none">
      <ion-input
        label="Password"
        labelPlacement="floating"
        [type]="showPassword ? 'text' : 'password'"
        fill="outline"
        [(ngModel)]="password"
        name="password"
        required>
      </ion-input>
      <ion-icon 
        slot="end" 
        name="{{ showPassword ? 'eye-off-outline' : 'eye-outline' }}" 
        (click)="togglePassword()" 
        style="font-size: 1.4rem; cursor: pointer;">
      </ion-icon>
    </ion-item>

    <br><br>
    <ion-button expand="block" class="action-button" shape="round" type="submit">
      Log In
    </ion-button>
  </form>

  <!-- Registration Form -->
  <form *ngIf="!isLogin" class="signup-form" (ngSubmit)="register()" #signupForm="ngForm">
    <div class="name-fields">
      <ion-input
        label="First Name"
        labelPlacement="floating"
        fill="outline"
        [(ngModel)]="firstName"
        name="firstName"
        required>
        <ion-icon slot="start" name="person-outline"></ion-icon>
      </ion-input>

      <ion-input
        label="Last Name"
        labelPlacement="floating"
        fill="outline"
        [(ngModel)]="lastName"
        name="lastName"
        required>
        <ion-icon slot="start" name="person-outline"></ion-icon>
      </ion-input>
    </div>

    <ion-input
      label="Email"
      labelPlacement="floating"
      fill="outline"
      type="email"
      [(ngModel)]="email"
      name="email"
      required>
      <ion-icon slot="start" name="mail-outline"></ion-icon>
    </ion-input>

    <ion-input
      label="Contacts"
      labelPlacement="floating"
      fill="outline"
      type="text"
      [(ngModel)]="contacts"
      name="contacts">
      <ion-icon slot="start" name="call-outline"></ion-icon>
    </ion-input>

    <ion-input
      label="Location"
      labelPlacement="floating"
      fill="outline"
      type="text"
      [(ngModel)]="location"
      name="location">
      <ion-icon slot="start" name="location-outline"></ion-icon>
    </ion-input>

    <ion-item lines="none">
      <ion-input
        label="Password"
        labelPlacement="floating"
        fill="outline"
        [type]="showPassword ? 'text' : 'password'"
        [(ngModel)]="password"
        name="password"
        required>
      </ion-input>
      <ion-icon 
        slot="end" 
        name="{{ showPassword ? 'eye-off-outline' : 'eye-outline' }}" 
        (click)="togglePassword()" 
        style="font-size: 1.4rem; cursor: pointer;">
      </ion-icon>
    </ion-item>

    <ion-item lines="none">
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-label>
        I would like to receive your newsletter and other promotional information.
      </ion-label>
    </ion-item>

    <ion-button expand="block" class="action-button" shape="round" type="submit" [routerLink]="['/dashbourd']" >
      Sign Up
    </ion-button>
  </form>
</ion-content>
