<ion-content class="contact-content">

  <div class="top-bar">
    <h1>My Profile</h1>
  </div>
  <br><br>

  <div class="contact-card">
    <h2 class="contact-title">Contact Us</h2>
    <p class="section-label">CONTACT</p>

    <ion-item lines="none">
      <ion-icon name="mail-outline" slot="start" class="mail-icon"></ion-icon>
      <ion-label>Email</ion-label>
      <ion-text slot="end" class="email-text">weRecycle&#64;gmail.com</ion-text>
    </ion-item>
  </div>

  <ion-footer class="tab-bar">
    <ion-toolbar>
      <ion-buttons slot="start" class="footer-buttons">
        <ion-button>
          <ion-icon name="home-outline"></ion-icon>
          HOME
        </ion-button>

        <ion-button [routerLink]="['/reports']">
          <ion-icon name="file-tray-full-outline"></ion-icon>
          Report
        </ion-button>

        <ion-button [routerLink]="['/settings']">
          <ion-icon name="settings-outline"></ion-icon>
          Settings
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</ion-content>
