.contact-info {
  padding: 24px;
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;

  .logo {
    text-align: left;
    margin-bottom: 24px;
    margin-left: 15px;

    ion-icon {
      color: #000;
    }
  }

  .hero-content {
    margin-bottom: 36px;
    margin-left: 15px;
    
    h1 {
      font-size: 32px;
      font-weight: 700;
      color: #000;
    }

    h2 {
      font-size: 20px;
      color: #333;
      margin-bottom: 16px;
    }

    p {
      font-size: 16px;
      color: #555;
    }
  }

  .hero-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .introduction {
    padding: 20px;
    background-color: #fff;
    text-align: left;

    h3 {
      font-size: 24px;
      font-weight: 700;
      color: #333;
      margin-bottom: 16px;
    }

    p {
      font-size: 16px;
      color: #555;
      line-height: 1.5;
    }
  }

  .cta {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;

    p {
      font-size: 16px;
      color: #555;
      margin-bottom: 20px;
    }

    /* Custom styling for the button */
    ion-button {
      font-size: 16px;
      padding: 12px 20px;
      --background: #3e3e3e; /* Set background color to #3e3e3e */
      --color: #fff;
      --border-radius: 8px;
    }
  }

  .contact-details {
    p {
      font-size: 14px;
      color: #333;
      line-height: 1.5;
      margin-bottom: 12px;
      margin-left: 15px;

      a {
        color: #000;
        text-decoration: none;
      }
    }

    .social-media {
      display: flex;
      flex-direction: column;
      gap: 12px;
      margin-top: 16px;
      margin-left: 15px;

      ion-button {
        --background: transparent;
        --color: #000;
        --border-radius: 8px;
        --padding-start: 0;
        --padding-end: 0;

        ion-icon {
          margin-right: 12px;
          font-size: 20px;
          color: #000;
        }
      }
    }
  }

  /* Ensuring footer text is visible and correctly positioned */
  .footer-text {
    padding-top: 20px;
    text-align: center;
    color: #888;
    position: relative;  /* Ensure it's not overlapped by fixed elements */
    z-index: 2;         /* Give it a higher z-index if needed */
    margin-bottom: 100px;  /* Ensure it stays above tab bar */
    
    p {
      font-size: 14px;
      color: #888;
    }
  }
}

.tab-bar {
  border-top: 1px solid #ccc;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.05);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;

  ion-toolbar {
    --background: #3e3e3e;
  }

  ion-button {
    flex-direction: column;
    color: #fff;
    font-size: 12px;
    padding: 0;
  }

  ion-icon {
    font-size: 24px;
  }

  .footer-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
