<ion-content class="home-content">
  <ion-grid class="top-header">
    <ion-row class="ion-align-items-center ion-justify-content-between">
      <ion-col size="auto" class="profile-pic">
        <ion-avatar>
          <ion-icon name="walk" size="large" style="color: #3e3e3e;"></ion-icon>
        </ion-avatar>
      </ion-col>

      <ion-col size="auto" class="welcome-text">
        <h2>Welcome {{ firstName }}</h2>
      </ion-col>

      <ion-col size="auto" class="top-icons">
        <ion-buttons>
          <ion-button (click)="goToNotifications()">
            <ion-icon name="notifications-outline"></ion-icon>
            <ion-badge *ngIf="notificationsCount > 0">{{ notificationsCount }}</ion-badge>
          </ion-button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>

  <br />
  <div class="welcome-subtext">
    <p>Check real-time alerts for safe travel</p>
  </div>

  <br /><br />
  <ion-grid>
    <ion-row>
      <ion-col size="6" size-md="6">
        <ion-card button class="quick-card" [routerLink]="['/location']">
          <ion-icon name="location-outline" class="card-icon"></ion-icon>
          <ion-label>Start Journey</ion-label>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-md="6">
        <ion-card button class="quick-card" [routerLink]="['/updates']">
          <ion-icon name="book-outline" class="card-icon"></ion-icon>
          <ion-label>Updates</ion-label>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-md="6">
        <ion-card button class="quick-card" [routerLink]="['/road-status']">
          <ion-icon name="car-outline" class="carupdated-icon" size="large" style="color: #3e3e3e;"></ion-icon>
          <ion-label>Road Status</ion-label>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6" size-md="6">
        <ion-card button class="quick-card" [routerLink]="['/weather']">
          <ion-icon name="rainy-outline" size="large" style="color: #3e3e3e;"></ion-icon>
          <ion-label>Weather</ion-label>
        </ion-card>
      </ion-col>

      <ion-col size="6" size-md="6">
        <ion-card button class="quick-card" [routerLink]="['/contact-center']">
          <ion-icon name="call-outline" class="card-icon big-icon"></ion-icon>
          <ion-label>Call For Help</ion-label>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" size-md="6">
        <ion-card button class="quick-card wide-card" [routerLink]="['/road-safety']">
          <ion-icon name="bulb-outline" class="card-icon"></ion-icon>
          <ion-label>Tips & Resources</ion-label>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-footer class="tab-bar">
    <ion-toolbar>
      <ion-buttons slot="start" class="footer-buttons">
        <ion-button>
          <ion-icon name="home-outline"></ion-icon>
          HOME
        </ion-button>

        <ion-button [routerLink]="['/about-us']">
          <ion-icon name="people-outline"></ion-icon>
          About Us
        </ion-button>

        <ion-button [routerLink]="['/settings']">
          <ion-icon name="settings-outline"></ion-icon>
          Settings
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>

  <br /><br /><br />
</ion-content>
