<ion-content fullscreen class="onboarding">
  <!-- Slide 1 Content -->
  <section *ngIf="currentSlide === 0" class="slide-content first-slide">
    <div class="background" style="background-image: url('/assets/img/5.jpg');"></div>
    <div class="top-right" (click)="skipOnboarding()">
      <ion-text color="light" [routerLink]="['/signup']">Skip</ion-text>
    </div>
    <div class="content">
      <h2>
        <strong>Safe travel in Lesotho starts with <span class="highlight">real-time alerts</span>.</strong>
      </h2>
      <p>
        Explore Lesotho’s highlands with confidence. Our app provides early warnings for snow, floods, landslides, and road closures so you can plan your journey safely.
      </p>
      <div class="dots">
        <span class="dot active"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </div>
      <ion-button expand="block" class="get-started" (click)="nextSlide()">Next</ion-button>
    </div>
  </section>

  <!-- Slide 2 Content -->
  <section *ngIf="currentSlide === 1" class="slide-content second-slide">
    <div class="background" style="background-image: url('/assets/img/2.jpg');"></div>
    <div class="top-right" (click)="skipOnboarding()">
      <ion-text color="light" [routerLink]="['/signup']">Skip</ion-text>
    </div>
    <div class="content">
      <h2>
        <strong>Stay informed, stay <span class="highlight">prepared.</span></strong>
      </h2>
      <p>
        Access live updates from official meteorological sources and local community reports. Know road conditions in remote areas and avoid unexpected hazards.
      </p>
      <div class="dots">
        <span class="dot"></span>
        <span class="dot active"></span>
        <span class="dot"></span>
      </div>
      <ion-button expand="block" class="get-started" (click)="nextSlide()">Next</ion-button>
    </div>
  </section>

  <!-- Slide 3 Content -->
  <section *ngIf="currentSlide === 2" class="slide-content third-slide">
    <div class="background" style="background-image: url('/assets/img/3.jpg');"></div>
    <div class="content">
      <h2>
        <strong>Travel safely, even in Lesotho’s <span class="highlight">highlands</span>.</strong>
      </h2>
      <p>
        Plan routes with report hazards, and contact emergency services quickly. Whether you’re a local or tourist, your safety is our priority.
      </p>
      <div class="dots">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot active"></span>
      </div>
      <ion-button expand="block" class="get-started" [routerLink]="['/signup']">Get Started</ion-button>
    </div>
  </section>
</ion-content>
