<ion-header>
  <ion-toolbar>
    <div class="header-container">
      <ion-avatar class="profile-pic">
        <ion-icon name="walk"></ion-icon>
      </ion-avatar>
      <h2 class="header-title">Notifications</h2>
      <ion-button class="notification-btn" fill="clear">
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="notifications-content">

  <ng-container *ngIf="notifications.length > 0; else noNotifications">
    <ion-list>
      <ion-item *ngFor="let notif of notifications" (click)="navigateNotification(notif)" button
                [class.viewed]="notif.viewed">
        <ion-avatar slot="start">
          <ion-icon [name]="getIcon(notif)" size="large" style="color: #3e3e3e;"></ion-icon>
        </ion-avatar>
        <ion-label>
          <h2>{{ notif.title }}</h2>
          <p>{{ notif.description }}</p>
          <small>{{ notif.timestamp | date:'short' }}</small>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-container>

  <ng-template #noNotifications>
    <div class="empty-state">
      <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
      <h2>No Notifications</h2>
      <p>We’ll let you know when there’s something to update you.</p>
    </div>
  </ng-template>

</ion-content>

<ion-footer class="tab-bar">
  <ion-toolbar>
    <ion-buttons slot="start" class="footer-buttons">
      <ion-button [routerLink]="['/dashbourd']">
        <ion-icon name="home-outline"></ion-icon> HOME
      </ion-button>
      <ion-button [routerLink]="['/about-us']">
        <ion-icon name="people-outline"></ion-icon> About Us
      </ion-button>
      <ion-button [routerLink]="['/settings']">
        <ion-icon name="settings-outline"></ion-icon> Settings
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
